{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "arrow-parens": ["error", "always"],
    "react/jsx-filename-extension": ["error", {
      "extensions": [".js", ".jsx"]
    }]
  }
}
