/**
* Colors
*/

$white: #fff;
$cod-gray: #151515;
$dusty-gray: #999;
$mercury: #e5e5e5;
$wild-sand: #f5f5f5;
$black: #000;

$secondary: $mercury;
$dark: $cod-gray;

$theme-colors: (
  'white': $white
);

/**
* Body
*/

$body-bg: $wild-sand;
$body-color: $dark;


/**
* Fonts
*/

$font-family-sans-serif: 'Nunito Sans', sans-serif;

$font-size-base: 1rem;
$font-size-sm: ($font-size-base * 0.75);

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$h1-font-size: $font-size-base * 3.125;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;
$h6-font-size: $font-size-base;

$headings-font-weight: $font-weight-light;


/**
* Components
*/

$box-shadow: 0 0 10px 0 rgba($black, 0.05);


/**
* Avatar
*/

$avatar-size: 5rem;


/**
* Buttons + Forms
*/

$input-btn-padding-y: 0.9375rem;
$input-btn-padding-x: 0.9375rem;


/**
* Buttons
*/

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: ($input-btn-padding-x * 2);

$btn-icon-size: 3.275rem;
$btn-icon-size-sm: 2.5rem;


/**
* Cards
*/

$card-border-color: transparent;


/**
* Forms
*/

$label-margin-bottom: 0.25rem;
$label-letter-spacing: 0.1em;

$input-color: $cod-gray;
$input-border-color: $mercury;
$input-focus-box-shadow: transparent;
